:root {
    --primary-color:  rgb(255, 255, 255);
    --secondary-color:  rgb(255, 255, 255);
    --header-color: rgb(255, 255, 255);
}

/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}



ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: white;
}

/* griglia */
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    padding: 1rem;
}


/* *UTILS SE DOVESSERO SERVIRE */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}




/* !OVVIAMENTE VANNO CONTESTUALIZZATE CASO PER CASO */

/* MEDIA QUERY TABLET*/

@media screen and (max-width: 768px) {
    .div {
        width: 100%;
        flex-wrap: wrap;
        color: green;
    }

    .div2 {
        flex-wrap: wrap;
    }
}



/* MEDIA QUERY PHONE*/

@media screen and (max-width: 480px) {
    .div {
        width: 100%;
    }
}